<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.lp-energy.baustelle"
        versionCode = "10"
        version     = "1.0.0">
 
    <name>LP</name>
 
    <description>
        LP Energy Mitarbeiter App
    </description>
 
    <author href="http://www.lp-energy.de" email="c.rudde@lp-energy.de">
        Christian Rudde
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
    <icon src="res/logo-fermenter.png" />
 
</widget>